@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 4px;
    /* height: 20%; */
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ebcaca;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    background: #615e5e;
  }

  @media (prefers-color-scheme: dark) {
    .scrollbar::-webkit-scrollbar-track {
      background: #615e5e;
    }
    
    .scrollbar::-webkit-scrollbar-thumb {
      background: #ebcaca;
    }
  }
}
